# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated
*.swp
*.swo
*~

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Visual Studio
.vs/

# Rider
.idea/

# Logs
Logs/

# UserSettings
UserSettings/

